:root{
    --color-DarkPink:#ba4270;
    --color-LinkWaterWhite:#fbfcfe;
    --color-SanJuanBlue:#36536b;
    --color-MirageBlue:#1b262f;
    --color-CharmPink:#da6d97;
    --color-LightSanJuanBlue:#6c8294;
}
