.footer {
    margin-top: 100px;
}

.footer__info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer__nav {
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
}

.tem{
    background-color: #058AFF ;
}

.footer__log {
    max-width: 320px;
    width: 100%;
}

.footer__text {
    color: #646464;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.footer__icon {
    width: 176px;
    height: 32px;
}

.footer__item {
    margin-top: 18px;
    line-height: 24px;
}

.footer__h5 {
    color: #323232;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    padding: 0;
    padding-bottom: 14px;
}

.footer__nav--link {
    display: block;
    color: #646464;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    &:hover {
        color: red;
        text-decoration: underline;
    }
}

.footer__list {
    margin-top: 18px;
    max-width: 300px;
    width: 100%;
    margin-left: 30px;
}

.footer__text--p {
    color: #646464;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    max-width: 277px;
    width: 100%;
}

.footer__div--linkkk {
    margin-left: 100px;
}

.footer__input {
    color: rgba(117, 117, 117, 0.65);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1.1px solid #E1E2E4;
    background: #FFF;
    width: 292px;
    height: 40px;
}

.footer__btn {
    display: block;
    width: 292px;
    margin-top: 14px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
}

.footer__span {
    color: #646464;
    font-family: "Roboto";;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    display: inline-block;
}



.footer__div--link {
    color: #646464;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-left: 56px;
}

.footer__button{

    margin-right: 20px;
    background-color: white;
    color: #058AFF;
    width: 100px;
    text-align: center;
    padding-top: -15px;
    height: 42px;
    flex-shrink: 0;
}

@media only screen and (max-width: 850px) {
    .footer__info {
        grid-template-columns: repeat(2,1fr);
    }
.footer__info
   .footer__nav {
    order: 2;
   }


   .footer__list {
    order: -2;
   }

   .footer__button {
    width: 35px;
    text-align: center;
    padding-top: -15px;
    height: 48px;
    padding-bottom: -10px;
    flex-shrink: 0;
    font-size: 12px;
   }

   .footer__span {
     max-width: 200px;
     padding-left: 40px;
   }
}

@media only screen and (max-width:554px) {
    .footer__info {
        padding-left: 40px;
        order: -2;
    }

    .footer__item{
        max-width: 400px;
        padding-left: 40px;
        gap: 40px;
    }

    .footer__list {
        order: 1;
    }

    .footer__span {
        max-width: 150px;
        padding-left:50px;
    }

    
.footer__div--linkkk {
    margin-right: 50px;
}
}

@media only screen and (max-width:554px) {
   .footer__span {
    display: none;
   }

.footer__div--linkkk {
    margin-left: -0px;
}

.footer__button {
    margin-right: -0px;
}

}