.header {
    margin-top: 20px;


    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    gap: 60px;
}

.nav__link {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
    
 

    &:hover {
        color: #0082F4;
        text-decoration: underline;
    }
}

.header__btn {
    background-color: #0082F4;
    color: #FFF;
    border-radius: 6px;
    text-align: center;
    padding-top: 20px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;    
    top: 36px;
    left: 120px;
    width: 100px;
    height: 48px;
}

.header__info {
    display: flex;
    gap: 10px;
}

.nav__btn {
    display: none;
}

.btn {
    border: none;
    background-color: #FFF;
    display: none;
}


.menu {
    display: none;
}

.exit {
    display: none;
}


@media only screen and (max-width: 750px) {
    .nav {
        display: none;
    }

    .btn {
        display: block;
    }

    .menu {
        display: block;
    }

    .menu__exit {
        display: none;
    }

    .exit__menu {
        display: block;
    }

    .nav__blok {
        display: block;
        position: absolute;
        width: 50%;
        height: 10%;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.50) 0%, #c7c6c2 55.94%);
        top: 70px;
        left: 0px;
        border-radius: 8px;
        animation: navblok 1s ease;

        & > li {
            line-height: 50px;
            text-align: center;
            margin-top: 20px;
            animation: textlist 1.4s ease;
        }

        & > li > a {
            font-size: 24px;
            margin-right: 40px;
            color: black;
           
          
            &:hover {
            text-decoration: overline;
           }
        }

        @keyframes navblok {
            
            from {
                transform: translateX(-60%);
                opacity: 0;
            }

            to {
                transform: translateX(0%);
                opacity: 1; 
            }
        }

        @keyframes textlist {
            from {
                transform: translateX(400px);
                opacity: 1;
            }

            to {
                transform: translateX(0%);
                opacity: 1; 
            } 
        }
    }
}

@media only screen and (max-width: 400px) {
    .header__btn {
        display: none;
    }

    .nav__btn {
        display: inline-block;
        white-space: nowrap;
        text-align: center;
    }
}