.our {
    margin-top: 120px;
}

.our__list {
    display: flex;
    gap: 22px;
    margin: 0 auto;
    margin-left: -25px;
    margin-right: 20px;
    
}

.what {
    display: flex;
}

.our__item {
    display: flex;
    border-radius: 11px;
    max-width: 392px;
    width: 100%;
    margin: 25px;
    padding-left: 20px;
}

.qodirali {
    padding-left: 20px;
}

.our__img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: 19px;
    max-width: 399px;
    width: 100%;
}

.our__text12{
    max-width: 202.15px;
    height: 119.13px;
    opacity: 0.7px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.our__heading {
    margin: 0;
    padding: 0;
    padding: 0px 34px;
    color:black;
    width: 816.08px;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0em;
    text-align: left;
}

.our__img45{
    margin-left: 195px;
}

.our__btn {
    display: inline-block;
    margin-top: 60px;  
}

.our__info {
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .our__list {
        flex-direction: column;
        margin: 0 auto;
    }
    
    .our__item {
        padding-left: 80px;
    }
    .our__img45 {
        display: none;
    }

    .our__heading {
        padding-right: 20px;
    }
}


@media only screen and (max-width: 760px) {
    .our__img {
        max-width: 350px;
    }

    .our__heading {
        padding-right: 20px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 560px) {
    .our__list {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .our__item {
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }

    .our__heading {
        font-size: 20px;
        padding-right: 20px;
    }

    .our__img {
        max-width: 399px;
    }

    .our__text23 {
        display: none;
    }
}