.us {
    margin-top: 110px;
}

.us__span {
    display: block;
    color: #3D3D3F;
    font-family: " DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 10px;
    opacity: 0.9;
}
.pop {
    color: #0080FD;
}

.label {
    margin-left: 33px;
    margin-top: 28px;
}

.us__info {
    margin-left: -33px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.us__input {
    padding-left: 40px;
    background: #FFF;
     max-width: 687px;
     width: 100%;
    height: 82px;
    border-radius: 10px;
    border: 1px solid #0080FD;
    opacity: 0.2px;
    
}


.label__text {
    display: block;
    padding-bottom: 51px;
}

.form__btn {
    margin-top: -95px;
    margin-right: 15px;
    display: flex; 
    align-items: end;
    justify-content: end;
}

.mail {
    margin-top: -100px;
    margin-left: 5px;
}

.us__btn {

    text-align: center;
    padding-top: -10px;
    display: block;
}

@media only screen and (max-width: 740px) {
    .textarea {
        width: 600px;
    }
}

@media only screen and (max-width: 604px) {
    .textarea {
        width: 450px;
    }
}

@media only screen and (max-width: 470px) {
    .textarea {
        max-width: 450px;
        width: 100%;
    }

    .us__span {
        font-size: 14px;
    }
    
}